* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}
h1 {
    text-align: center;
    margin-top: 10px;
}

img {
    max-width: 100%;
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;

    background-color: #ccc;
}

.menu {
    display: flex;

}

.menu li {
    margin-left: 20px;
}

.menu li a {
    display: block;
    padding: 10px;
}

/** CSS FLEXBOX 1*/

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}

/*CSS GRID 1*/

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr)/*1fr 1fr 1fr*/;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    grid-gap: 20px;
}

.grid1 > div:nth-child(n + 4) {
    background-color: rgb(8, 129, 129);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.grid1 > div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    border-top: 10px solid tomato;
    display: block;
}


@media (max-width: 600px) {
    .grid1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid1 > div:nth-child(n + 4) {
        display: block;
    }

    .grid1 > div.anuncio {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}
